body {
    margin: 20px;
}
/*this is the whole block for each square*/

.column-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 20px;
}

@media (max-width: 1000px) {
    .column-videos {
        grid-template-columns: 1fr 1fr;
    }
}

.video-preview {
    display: inline-block;
    width: 100%;
    font-family: Roboto, Arial;
    vertical-align: top;
    padding: 4px;
    position: relative;
    text-decoration: none;
    color: black;
}

.img {
    width: 100%;
    position: relative;
}

.img-authorhover {
    width: 220px;
    height: 60px;
    align-items: center;
    position: relative;
    background-color: rgb(212, 212, 212);
    display: grid;
    grid-template-columns: 50px 250px;
    padding-left: 10px;
    border-radius: 10px;
    bottom: 40px;
    opacity: 0;
    cursor: pointer;
}

.img-authorhover:hover {
    opacity: 1
}

.img-hover {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.author-details {
    display: grid;
    grid-template-rows: 15px 15px;
}

.author-name-hover {
    font-size: 12px;
    padding-left:25px;
    bottom: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    display: inline-block;
    position: absolute;
}

.author-details-hover {
    font-size: 8px;
    padding-left:25px;
    bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    display: inline-block;
}

.video-mins {
    position: absolute;
    bottom: 7px;
    right: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 500;
    
}
.video-grid {
    margin-top: 10px;
}
/*this is the block for channel pic*/
.channel-picture {
    width: 100%;
    vertical-align: top;
    position: relative;
}

.img-author {
    width: 36px;
    border-radius: 36px;
    margin-top: 12px;
    margin-right: 0px;
    vertical-align: top;
}

/*this is the block for video info*/
.video-info {
    width: 100%;
}

.video-title {
    width: 100%;
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}

.creator {
    font-size: 12px;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
    color: rgb(96, 96, 96);
    text-decoration: none;
}

.views {
    font-size: 12px;
    margin-top: 0;
    color: rgb(96, 96, 96);
    text-decoration: none;
}
